  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home"></span>
                Inmuebles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Integrations
              </a>
            </li>
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Year-end sale
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Inmuebles</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" (click)="onClickCreateEstate()" class="btn btn-sm btn-outline-secondary">Crear Inmueble</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              Esta Semana
            </button>
          </div>
        </div>
        <div class="table-responsive">
            <ng-template [ngIf]="estates.length > 0" [ngIfElse]="NotEstates">
                <table class="table table-hover table-sm">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Destinacion</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of estates">
                        <th scope="row">{{ item.id}}</th>
                        <td>{{ item.type}}</td>
                        <td>{{ item.title}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm" aria-current="page" *ngIf="item.isRent" (click)="onClickIsRent()">Arriendo</button>
                                <button class="btn btn-warning btn-sm" *ngIf="item.isSale" (click)="onClickIsSale()">Venta</button>
                                <button class="btn btn-danger btn-sm" *ngIf="item.isBarter" (click)="onClickIsBarter()">Permuta</button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm active" aria-current="page">Detalles</button>
                                <button class="btn btn-danger btn-sm">Inactivar</button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            </ng-template>
            <ng-template #NotEstates>
                <p>No existen datos</p>
            </ng-template>            
        </div>
        <div *ngIf="optEstate">
            <h5>Wizard</h5>
            <aw-wizard>
                <aw-wizard-step stepTitle="Datos Generales">
                    <div>
                        <general-data></general-data>
                    </div>
                  <button type="button" class="btn btn-success btn-sm" awNextStep>Next Step</button>
                  <button type="button" class="btn btn-success btn-sm" >Go directly to third Step</button>
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Ubicacion">
                  Content of Step 2
                  <button type="button" class="btn btn-success btn-sm" awPreviousStep>Go to previous step</button>
                  <button type="button" class="btn btn-success btn-sm" awNextStep>Go to next step</button>
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Condiciones">
                  Content of Step 3
                  <button type="button" class="btn btn-success btn-sm" awPreviousStep>Previous Step</button>
                  <button type="button" class="btn btn-success btn-sm" (click)="finishFunction()">Finish</button>
                </aw-wizard-step>
              </aw-wizard>
        </div>
        <div *ngIf="optRent">
          <rent></rent>
        </div>
        <div *ngIf="optSale">
          <sale></sale>
        </div>
        <div *ngIf="optBarter">
          <p>Opt Barter</p>
        </div>
      </main>
    </div>
  </div>